@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de tema */
:root {
  --primary: #A87C2F;
  --bg: #ffffff;
  --text: #111111;
}

/* 🌙 Dark mode */
.dark {
  --bg: #0d0d0d; /* más oscuro tipo navy/negro */
  --text: #f5f5f5;
}

/* Fondo global */
html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

/* utilidades */
.bg-primary { background-color: var(--primary); }
.text-primary { color: var(--primary); }
